---
name: CI

on:
  push:
    branches:
      - master
      - feature/**
  # pull_request:
  #   branches:
  #     - master
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    uses: ./.github/workflows/reusable-build.yml
    secrets: inherit
